*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}

:root{
    --medidaLaguraSm: 21rem;
    --medidaAlturaSm: 31.5rem;

    --medidaLaguraMd: 35rem;
    --medidaAlturaSMd: 31rem;

    --medidaLaguraLg: 40rem;
    --medidaAlturaLg: 31rem;

    --colorDark: #fdfdfd;
    --colorLingth: #1c1c1c;

    --corFundoDank: #1c1c1c;
    --corFundoLingth: #fdfdfd;
}

@media screen and (min-width: 360px){
    
    body{
        color: var(--colorDark);
        background: var(--corFundoDank);
    }

    form{
        position:relative;
        margin: 10px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: var(--medidaLaguraSm);
        height:var(--medidaAlturaSm);
        border: 2px solid #b2b2b2;
        background: #606566;
        border-radius: 5px;
        overflow: hidden;
    }
    .configuracao-geral{
        width: 21.6em;
        border-radius: 3px;
    }

    .titulo-qrcode{
        height: 3.65em;
    }
    
    .titulo-qrcode h1{
        font-size: 24px;
        text-align: center;
        font-weight: 700;
    }

    [data-qrcode="messagem-download-qrcode"]{
        position: absolute;
        top: 83px;
        right: 5px;
        height: 45px;
        z-index: 10;
        padding: 10px;
        background:#56BF80;
        border-radius: 10px;
        color:#1a1a1a;
        animation: loading-animacao .5s ease;
    }
    
    [data-qrcode="messagem-download-qrcode"] .loading{
        height: 8px;
        background: rgb(184, 238, 245);
        border-radius: 5px;
        animation: loading-animacao-barra .3s ease;
    }

    @keyframes loading-animacao-barra{
        0%{width: 0%;}
        100%{width: 100%;}
    }

    @keyframes loading-animacao {
        0%{opacity: 0}
        100%{transform: translateX(-8px);}
    }

    .ajuda-qrcode{
        display: flex;
        gap: 5px;
        align-items: center;
        height: 2.5em;
        margin: 10px 0 15px 5px;
    }
    .ajuda-qrcode img{
        display: block;
        position: relative;
        width: 25px;
        height: 25px;
        margin: 5px 0 5px 8px;
        background: #c0c0c0;
        border-radius: 50%;
        outline: 2px solid;
        cursor: pointer;
        z-index: 100;
    }
    .off{
        opacity:0;
    }

    .video-ajuda-on span{
        display: inline-block;
        position: relative;
        top: 30px;
        left: 80px;
    }
    .video-ajuda-on{
        position: relative;
        width: 300px;
        height: 300px;
        top: 110px;
        left: -78px;
        opacity: 1;
        z-index: 10;
        animation: video-animacao .3s ease-out;
    }
    
    .ajuda-qrcode:has(.video-ajuda-on){
        z-index: 10;
        background: rgb(84, 84, 84);
    }

    .ajuda-qrcode:has(.video-ajuda-on) ~ [data-qrcode="conteiner-qrcode"]{
        filter: blur(10px);
    }

    @keyframes video-animacao{
        0%{top: 10px;opacity: 0;}
    }
    
    /*CONTEINER PARA ORGANIZAR ITENS*/
    [data-qrcode="conteiner"]{
        height: 22.5em;
        margin: 10px 0;
        display: flex;
        flex-direction: column;
    }

   /*QRCODE*/
    [data-qrcode="conteiner-qrcode"]{
        width:16.62em;
        height: 14.37em;
        margin: 0 42px;
        border-radius: 5px;
        overflow: hidden;
        
    }
    
    [data-qrcode="qrcode-image"]{
        display: block;
        max-width: 100%;
        transform: translateY(-18px) scale(1.2);
    }

    .qrcode-ativo{
       border-radius: 15px;
       outline: 2px solid #fdfdfd;
       box-shadow: 0 0 2px 5px #404141;
    }
    
  /*ENTRADA DO USUÁRIO PARA GERAR O QRCODE*/  
    [data-qrcode="entra-qrcode"]{
        min-width:16.62em;
        min-height:2.5em;
        margin: 15px 0 10px 0;
    }

    [data-qrcode="entra-qrcode"] input{
        display: block;
        padding: 5px 0;
        min-width: 260px;
        margin: 5px auto;
        text-align: center;
        border: none;
        border-bottom: 2px solid;
        border-radius: 3px;
        box-shadow: 1px 1px 10px #828181;
        background: transparent;
    }
    
    [data-qrcode="entra-qrcode"] input:hover{
        transition: all .5s;
        background: #fdfdfd;
        border: none;
    }

    [data-qrcode="entra-qrcode"] input:has(:hover)::placeholder{
        color: #dedede;
    }

   /*BOTÕES RESPONSÁVEL PELA AÇÃO*/ 
    .botao-qrcode{
        display: flex;
        height: 3.45em;
    }

    .botao-qrcode button{
        display: block;
        margin: 10px;
        text-align: center;
        width: 100px;
        height: 35px;
        line-height: 12px;
        font-weight: 600;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        box-shadow: 0 0 3px #2a2a2a;
    }

    .botao-qrcode button:nth-child(1){
        background:#56BF80;
    }
    .botao-qrcode button:nth-child(2){
        background:#E2FFFF;
    }
    .botao-qrcode button:nth-child(3){
        background:#00A9C5;
    }
    
    .botao-qrcode button:nth-child(1):hover{
        background:#64f49e;
        color:#1a1a1a;
        box-shadow: 0 0 15px #333232;
    }
    
    .botao-qrcode button:nth-child(2):hover{
        background:#f6f6f6;
        color:#1a1a1a;
        box-shadow: 0 0 15px #333232;
    }
    
    .botao-qrcode button:nth-child(3):hover{
        background:#17dcff;
        color:#1a1a1a;
        box-shadow: 0 0 15px #333232;
    }
    
   
   
   
    

}

@media screen and (min-width:768px) and (max-width:1023px){
    form{
        position:relative;
        margin: 25px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--medidaLaguraMd);
        height:var(--medidaAlturaMd);
        border: 2px solid #b2b2b2;
        background: #606566;
        border-radius: 5px;
        overflow: hidden;
    }
}

@media screen and (min-width:1024px){
    form{
        position:relative;
        margin: 25px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--medidaLaguraLg);
        height:var(--medidaAlturaLg);
        border: 2px solid #b2b2b2;
        background: #606566;
        border-radius: 5px;
        overflow: hidden;
    }
}